.dashboard-content {
  height: 100vh - get-vh(76px);
  overflow: scroll;
}

.collapsed {
  margin-left: 51px;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 560px) {
  .expanded {
    margin-left: 351px;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 560px) {
  .expanded {
    display: none;
  }
}