.new-artist-form {
  margin: 5% 0;
  padding: 20px;
  background-color: white;
  box-shadow: 2.5px 5px 20px #c7c7c7;
}

.new-artist-input {
  margin: 10px 0 !important;
}

@media only screen and (min-width: 560px) {
  .new-artist-form {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 560px) {}