.welcome-page {
  background: url('../images/welcome.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.home-jumbotron {
  text-align: center;
  background-color: white;
}

a {
  color: $primary;
  &:hover {
    text-decoration: none;
    color: $primaryhovered;
  }
}

.login-button {
  margin-top: 20px;
  border-color: $primary;
  background-color: transparent;
  color: $primary;
  border-width: 1.5px;
  width: 200px;
  font-size: larger;
  &:hover {
    border-color: $primary;
    background-color: $primary;
    color: white !important;
  }
  &:focus,
  &.focus {
    outline: 0;
    background-color: $primary !important;
  }
}

.welcome-input {
  margin-top: 20px;
}

@media only screen and (min-width: 560px) {
  .jumbotron-container {
    height: 100vh;
    position: relative;
  }
  
  .home-jumbotron {
    width: 50%;
    height: 50%;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 25%;
    padding: 32px;
  }

  .welcome-input {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 560px) {
  .jumbotron-container {
    padding: 20px;
  }

  .home-jumbotron {
    margin-top: 25%;
  }

  .display-3 {
    font-size: 50px;
  }

  .lead {
    margin-bottom: 40px;
  }
}